LIBROS
PAT.txt
doc/doc.aux
doc/doc.fdb_latexmk
doc/doc.fls
doc/doc.log
doc/doc.out
doc/doc.pdf
doc/doc.synctex.gz
code/kafka-broker/.idea/workspace.xml
code/enigma_main/.idea/workspace.xml
code/topics/traffic/.idea/inspectionProfiles/profiles_settings.xml
code/topics/traffic/.idea/misc.xml
code/topics/traffic/.idea/modules.xml
code/topics/traffic/.idea/traffic.iml
code/topics/traffic/.idea/vcs.xml
code/enigma_main/.idea/workspace.xml
doc/doc.synctex.gz
doc/doc.synctex
